.lec-form{
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #e0e3eb;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.lec_list-cls{
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #e0e3eb;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.add-lec-btn{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 45px;
}

.hidethis{
    display: none;
}

.showThis{
    display: block;
}

.web-cam{
    padding: 50px
}